
label {
    float: left;
    margin-left: 6px;
}

input.textinput, textarea.textinput, select.select, input.checkbox {
    float: left;
    margin: 12px 3px 0 0;
    padding: 5px;
}

label.textinput {
    background-color: rgba(0, 0, 0, 0);
    margin: 10px 0 5px;
    width: 180px;
    font-weight: bold;
}

label.big {
    font-size: 1.3em;
    padding-top: 8px;
}

p.desc {
    font-style: italic;
    margin: 6px 0 10px;
    padding: 0 0 8px 22px;
}

p.desc.big {
    padding-left: 180px;
}