.virgil-login {
    text-align: center;
}

.virgil-login a {
    display: inline-block;
    padding-bottom: 20px;
}

h3.virgil-or {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

[data-virgil-ui="auth-btn"] {
    display: block;
    margin: 0px auto;
    width: 100%;
    max-width: 240px;
    line-height: 35px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid rgb(77, 9, 0);
    background-color: rgb(153, 0, 0);
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    border-bottom-right-radius: 38px;
    border-bottom-left-radius: 38px;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
}

p.virgil-message {
    margin-top: 10px;
}


