<!-- IF VIRGIL_LOGIN_EMBED -->
<div class="panel">
    <div class="inner">
        <div class="content">
            <h2 class="login-title">{OA_SOCIAL_LOGIN_PAGE_CAPTION}</h2>
            <div class="oneall_social_login_providers" id="oneall_social_login_overall_header_content_before" style="margin-top:10px">
                <p class="virgil-login">
                    <a href="https://auth-demo.virgilsecurity.com/uploads/virgil-chrome.zip">Download Virgil Extension</a>
                    <button data-virgil-ui="auth-btn" data-virgil-reference="{VIRGIL_LOGIN_REDIRECT_URL}">Virgil Auth</button>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- ENDIF -->
